<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.zicai.mapper.InterviewRoundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.zicai.model.InterviewRoundDO">
        <id column="id" property="id" />
        <result column="interview_id" property="interviewId" />
        <result column="account_id" property="accountId" />
        <result column="round_number" property="roundNumber" />
        <result column="round_type" property="roundType" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="total_question" property="totalQuestion" />
        <result column="answered_questions" property="answeredQuestions" />
        <result column="overall_score" property="overallScore" />
        <result column="summary" property="summary" />
        <result column="strength" property="strength" />
        <result column="improvement" property="improvement" />
        <result column="suggestion" property="suggestion" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="gmt_create" property="gmtCreate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, interview_id, account_id, round_number, round_type, status, description, total_question, answered_questions, overall_score, summary, strength, improvement, suggestion, gmt_modified, gmt_create
    </sql>

</mapper>
