# Nacos 配置
NACOS_SERVER=
NACOS_USER=
NACOS_PASSWORD=

#RABBITMQ配置
RABBITMQ_SERVER=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

#Mysql数据库
MYSQL_SERVER=
MYSQL_USER=
MYSQL_PASSWORD=

#Redis数据库
REDIS_SERVER=
REDIS_PASSWORD=

#SMS配置
SMS_APP_CODE=

#OSS配置
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
